body {
    font-family: 'Nunito Sans', sans-serif;
}
/* List */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    text-transform: uppercase;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightslategray;
  }
  
  .active {
    background-color: darkred;
  }

#search-text-input{
    border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 1px 1px 1px #e5e5e5;
    float:left;
    height:17px;
    margin:.8em 0 0 .5em; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:183px; 
}
  
#button-holder{
    background-color:#f1f1f1;
    border-top:thin solid #e5e5e5;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    cursor:pointer;
    float:left;
    height:27px;
    margin:11px 0 0 0;
    text-align:center;
    width:50px;
}
  
#button-holder img{
    margin:4px;
    width:20px; 
}
#button-holder2{
    background-color:#f1f1f1;
    border-top:thin solid #e5e5e5;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    cursor:pointer;
    float:left;
    height:27px;
    margin:11px 0 0 0;
    text-align:center;
    width:50px;
}
  
#button-holder2 img{
    margin:4px;
    width:20px; 
}
.signin {
    font-size: x-small;
}
.cart {
    font-size: x-small;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.NL {
    display:table-row;
    color: black;
    font-family:monospace;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px darkred, 0 0 5px maroon;
  }
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  